.bookBtn{
 background-color: blueviolet;   
 outline: none;
 border: none;
}

.modalBg{
    background: rgba(41, 20, 99, 0.94)!important;
}
.modal{
    color: rgb(186, 180, 231) ;
}
input{
    background-color: rgba(255, 255, 255, 0.653)!important;
    color: rgb(0, 0, 0)!important;
}